.todo-search{
    display: flex;
    border: 1px solid black;
    height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-items{
margin: 10px;
}

.todos{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.todo-items{
    margin-left: 10px;
}

#todo-titles{
    font-size: 30px;
}